<div class="row">
    <div class="col-12">
        <div class="card shadow-sm">
            <div class="card-header bg-white">
                <h5 class="card-title mb-0">Actions Rapides</h5>
            </div>
            <div class="card-body">
                <div class="row g-3">
                    <div class="col-md-3 col-6">
                        <a href="{% url 'creer_bon_soin' %}" class="btn btn-primary w-100 quick-action-btn py-3">
                            <i class="fas fa-plus-circle fa-2x mb-2"></i><br>
                            Nouveau Bon
                        </a>
                    </div>
                    
                    <div class="col-md-3 col-6">
                        <a href="{% url 'verification_cotisation' %}" class="btn btn-success w-100 quick-action-btn py-3">
                            <i class="fas fa-check-circle fa-2x mb-2"></i><br>
                            Vérifier Cotisation
                        </a>
                    </div>
                    
                    <div class="col-md-3 col-6">
                        <a href="{% url 'liste_membres' %}" class="btn btn-info w-100 quick-action-btn py-3">
                            <i class="fas fa-search fa-2x mb-2"></i><br>
                            Rechercher Membre
                        </a>
                    </div>
                    
                    <div class="col-md-3 col-6">
                        <a href="{% url 'communication:messagerie' %}" class="btn btn-warning w-100 quick-action-btn py-3">
                            <i class="fas fa-envelope fa-2x mb-2"></i><br>
                            Messagerie
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>